[submodule "Assets/external/packages/PostProcessing"]
	path = Assets/external/packages/PostProcessing
	url = https://github.com/Unity-Technologies/PostProcessing.git
[submodule "Assets/external/packages/InputSystem"]
	path = Assets/external/packages/InputSystem
	url = https://github.com/Unity-Technologies/InputSystem.git
[submodule "Assets/external/packages/unity-aseprite-importer"]
	path = Assets/external/packages/unity-aseprite-importer
	url = https://github.com/martinhodler/unity-aseprite-importer.git
[submodule "Assets/Plugins/ec7d3f0bcf167dab3d0d3bb480e0e07b"]
	path = Assets/Plugins/ec7d3f0bcf167dab3d0d3bb480e0e07b
	url = https://gist.github.com/ec7d3f0bcf167dab3d0d3bb480e0e07b.git
[submodule "Assets/Plugins/unity-scene-reference"]
	path = Assets/Plugins/unity-scene-reference
	url = https://github.com/starikcetin/unity-scene-reference.git
[submodule "Assets/packages/InputSystem"]
	path = Assets/packages/InputSystem
	url = https://gitlab.com/deeprest/unity-InputSystem.git
