web-build/*
web-devbuild/*
iosbuild/*
ArtSource/*
build/*
web/*
Temp/*
Library/
obj/*
screenshot/*
Assets/external/blender-to-unity3d-importer/

*.userprefs
*FilesWrittenAbsolute.txt
*.DS_Store
*.sln
*.csproj
*.unityproj
*.ulf
*.alf
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mdb
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.zip
*.gz
