Temp/*
Library/
obj/*
screenshot/*
recording/*
Logs/*
source-content/*
build/*
.vs/*
.idea/*
Assets/Samples*
Assets/script/.idea/*

*.userprefs
*FilesWrittenAbsolute.txt
*.DS_Store
*.sln
*.csproj
*.unityproj
*.unityweb
*.ulf
*.alf
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mdb
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.zip
*.gz
/UnityPlayer_s.debug
/unity.lock
